window {
    background-color: #1e1e1e;
    color: #ffffff;
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

button {
    background-color: #333333;
    background-image: none;
    box-shadow: none;
    outline: none;
    text-shadow: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
    border: 2px solid #555555;
    border-radius: 0;
    color: #ffffff;
    padding: 10px 20px;
}

button:hover {
    background-color: #444444;
}

button:active {
    background-color: #555555;
}

entry {
    background-color: #2d2d2d;
    color: #ffffff;
    border: 1px solid #555555;
    border-radius: 2px;
    padding: 5px;
    font-size: 14px;
}

entry:focus {
    border-color: #bbbbbb;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

/* Zone de texte */
textview {
    background-color: #3c3c3c; /* Fond de couleur sombre */
    color: #ffffff; /* Texte en blanc */
    border: 1px solid #555555; /* Bordure nette */
    border-radius: 2px;
    padding: 5px;
    font-size: 14px;
}

/* Texte à l'intérieur de la zone de texte */
textview text {
    color: #ffffff; /* Texte en blanc */
}

frame {
    border: 1px solid #555555;
    border-radius: 2px;
    padding: 10px;
    background-color: #2d2d2d;
}

frame > label {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

drawingarea {
    background-color: #2d2d2d;
    border: 1px solid #555555;
}

.titlebar {
    background: #2d2d2d;
    background-image: none;
    box-shadow: none;
    outline: none;
    text-shadow: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
    margin-top: 0px; /* Supprimer la marge supérieure */
    margin-bottom: 0px; /* Supprimer la marge inférieure */
    padding-top: 0px; /* Supprimer le rembourrage supérieur */
    padding-bottom: 0px; /* Supprimer le rembourrage inférieur */
    border-width: 0px; /* Supprimer la bordure */
}


.titlebar button {
    border: none;
    background-color: #2d2d2d;
}
